.new{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
table{
    position: relative;
    width: 33rem;
    height: 10rem;
    border-collapse: collapse; 
    margin: 2.5rem;
    /* margin-bottom: 1.5rem;
    margin-top: 1.2rem;   */
}
td{
    width: 10rem;
    height: auto;
    border:solid 3px solid;
}
h4{
    position: relative;
}
img{
    height: 4rem;
}